.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    margin: 30px auto;
    padding: 20px;
    width: 1400px;
    height: 800px;
}

.container > h1 {
    margin: 10px 10px 20px;
}